<div class="container-fluid vh-100 bg-dark text-light overflow-hidden py-3">
  <h2 class="text-center mb-4">
    {{ solver ? 'SUDOKU SOLVER' : 'SUDOKU GAME' }}
    <button class="btn btn-outline-warning ms-3" (click)="clickSolver()">
      {{ solver ? 'Play Sudoku' : 'Change to Solver' }}
    </button>
  </h2>
  <div *ngIf="!solver" class="d-flex justify-content-between">
    <div class="fs-5">
      <button class="bi bi-grid-3x3 btn btn-warning" (click)="newGame()"> New Game</button>
    </div>
    <div class="fs-5">
      <span class="bi bi-clock"></span>
      <span> {{minutes>9?minutes:'0'+minutes}} : </span>
      <span>{{seconds>9?seconds:'0'+seconds}}</span>
    </div>
  </div>
  <div *ngIf="!solver" class="text-center mb-2">
    <label for="" class="form-label d-inline fs-5">Difficulty :</label>
    <select name="" id="" class="form-select-lg" [(ngModel)]="difficulty" (change)="difficultyChange()">
      <option value="1">Easy</option>
      <option value="2">Medium</option>
      <option value="3">Hard</option>
    </select>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12 d-flex justify-content-center align-items-center">
      <div class="sudoku-board">
        <div *ngFor="let row of uboard; let i = index" class="d-flex justify-content-center">
          <div *ngFor="let col of row; let j = index" class="cell-wrapper">
            <input
              type="text"
              maxlength="1"
              class="text-center"
              [disabled]="isEditable(i,j)"
              [readonly]="true"
              [ngClass]="{
                'bg-body-tertiary': setBoardColor(i, j),
                'bg-info-subtle': !setBoardColor(i, j)
              ,
              'bg-red':(selectedCol==j && selectedRow==i),
              'text-danger fw-bold border border-danger': errorFlags[i][j]
              }"
              [value]="uboard[i][j] === 0 ? '' : uboard[i][j]"
              (click)="selectCell(i, j)"
              
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-8 col-10 d-flex flex-column align-items-center mt-4 mt-lg-0 justify-content-center">
      <div class="row g-2 w-100 justify-content-center">
        <div *ngFor="let num of [1,2,3,4,5,6,7,8,9,0]" class="col-4">
          <button
            class="btn btn-primary w-100"
            (click)="placeNumber(num)"
          >
            {{ num === 0 ? 'Clear' : num }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="solver" class="d-flex justify-content-center align-items-center">
    <button class="btn btn-success w-25" (click)="solveClick()">Solve</button>
    <button class="btn btn-danger w-25" (click)="setBoard()">Clear Board</button>
  </div>
  <div 
    *ngIf="win" 
    class="alert alert-success alert-dismissible fade show position-fixed top-0 end-0 m-4 shadow" 
    role="alert" 
    style="z-index: 1050;"
  >
    🎉 <strong>Congratulations!</strong> You won the Sudoku game!
    <button type="button" class="btn-close"></button>
  </div>
</div>